:root {
    --color-black: #252022;
    --color-gray: #e2e2e0;
    --color-yellow: #facd48;
    --color-white: #f5f5f5;
}

html {
    box-sizing: border-box;
}

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #d5d5d5;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.container {
    max-width: 1024px;
    margin: 30px auto;
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.23);
    
}

.section-title {
    margin-bottom: 15px;
}

.header {
    background-color: var(--color-black);
    padding: 50px;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
}

.header__title {
    margin-bottom: 15px;
    letter-spacing: 1px;
    
}

.header__description {
    color: var(--color-yellow);
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu-list {
    display: flex;
   
}

.header__menu-item {
    list-style-type: none;
    margin-right: 20px;
}

.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-link {
    color: var(--color-white);
    font-size: 20px;
    text-decoration: none;
}

.content {
    display: flex;

}

.main {
    flex-basis: 70%;
}

.aside {
    flex-basis: 30%;
}

.profile {
    background-color: var(--color-gray);
    color: var(--color-black);
    display: flex;
}

.profile__description {
    font-size: 20px;
}

.profile__info {
    flex-basis: 70%;
    padding: 50px;
}

.profile__picture {
    flex-basis: 30%;
}

.profile__img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

.skills {
    padding: 50px;
    background-color: var(--color-white);
    color: var(--color-black);
}

.skills__item {
    list-style-type: none;
    margin-bottom: 10px;
}

.skills__name {
    font-size: 20px;
    display: block;
    margin-bottom: 4px;
}

.skills__progress {
    width: 320px;
    height: 8px;
    background-color: var(--color-yellow);
    position: relative;
}

.skills__progress_html::after {
    display: block;
    content: '';
    background-color: var(--color-black);
    position: absolute;
    left: 0;
    top: 0;
    width: 92%;
    height: 100%;
}

.skills__progress_css::after {
    display: block;
    content: '';
    background-color: var(--color-black);
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
}

.skills__progress_js::after {
    display: block;
    content: '';
    background-color: var(--color-black);
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

.skills__progress_c::after {
    display: block;
    content: '';
    background-color: var(--color-black);
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
}

.skills__progress_git::after {
    display: block;
    content: '';
    background-color: var(--color-black);
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    height: 100%;
}

.education {
    padding: 50px;
    background-color: var(--color-white);
    color: var(--color-black);
}

.education__date {
    font-size: 20px;
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
}

.education__description {
    font-size: 20px;
}

.code {
    padding: 50px;
    background-color: var(--color-white);
}

.aside {
    background-color: var(--color-gray);
    padding: 50px;
}

.aside__list {
    margin-bottom: 50px;
}

.aside__item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.aside__item-icon {
    width: 20px;
}

.projects-link {
    text-decoration: none;
    color: var(--color-black);
}

.footer {
    background-color: var(--color-black);
    padding: 10px 50px;
    color: var(--color-white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.footer__logo {
    width: 90px;
}

.footer__logo-link {
    display: flex;
    text-decoration: none;
}

.footer__link {
    text-decoration: none;
    color: var(--color-white);
}



